

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e973e3;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 1rem;
}

form {
  background-color: #fff;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label,
legend {
  display: block;
  margin-top: 1.2rem;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}


fieldset{
    display: flex;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1.2rem;
    justify-content: space-around;
    border: none;
    padding: 0.5rem;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 0.8rem;
  margin-top: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: #2dd861;
  color:#333
}

footer {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 2rem;
  color: #666;
}

label {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr;
}




