@media (max-width: 800px) {
  body {
    padding: 1rem;
  }

  form {
    margin: 1rem;
    padding: 1rem;
    box-shadow: none;
    border-radius: 0;
  }

  input,
  select,
  textarea {
    font-size: 1rem;
  }

  input[type="submit"] {
    width: 100%;
  }

  fieldset{
    display: flex;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1.2rem;
    justify-content: space-around;
    border: none;
    padding: 0.5rem;
    }

}