header {
    background-color: rgb(226, 8, 8);
    color: white;
    text-align: center;
    font-size: 40px;
}

article {
    background-color: rgb(208, 241, 241);
    margin: 15px;
    padding: 1rem;
    font-size: 25px;
    display: flex;
    justify-content: center;
    display: grid;

}

h2 {
    color: black;
    text-align: center;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
    background-color: rgb(226, 8, 8);
    color: white;
    text-align: center;
    font-size: 25px;
}

.cloudy {
    margin-left: 8rem ;
}
