header {
    background-color: rgb(226, 8, 8);
    color: white;
    text-align: center;
    font-size: 40px;
}

article {
    background-color: rgb(208, 241, 241);
    margin: 5px;
    padding: 1rem;
    font-size: 15px;
    display: flex;
    justify-content: center;
    display: grid;

}

h2 {
    color: black;
    text-align: center;
}

.hero {
    position: absolute;
}
.hero img {
    width: 100%;
    height: auto;
    display: block;
    border-top: 8px solid #d32f2f;
    border-bottom: 8px solid #d32f2f
}

footer {
    background-color: rgb(226, 8, 8);
    color: white;
    text-align: center;
    font-size: 25px;
}

.cloudy {
    margin-left: 5rem ;
}

.description {
    position: absolute;
    top: 10%;
    left: 5%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.data, .weather {
    background: rgba(255, 255, 255, 0.9); /* semi-transparente */
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.data {
    
}